/* Refererences */

ul.references li { list-style-type: none; margin 0 }
#wrap ul.references li p { font-size: 80% }

@media print {
  body { background: #fff }
  #wrap { width: 100%; margin: 0; border: 0 }
  #nav { display: none }
  #content { width: 100%; padding:0; float: none }
  #inst { border-top: 1px solid #ccc }
}
