/*----------------------------------------------------------------------
  Collapse + expand functionality
------------------------------------------------------------------------
  buttons
    A blank gif is inserted into each of the ".collapsible h3" elements
    on the page - which is then styled as below.. it uses the same
    graphic as the expand/collapse all and is only changed by the
    vertical position within the image.
  hiding div
    When collapsed we need to hide the div - this is simply a case of
    setting display to none!
  box styling
    We over-ride the box styling by moving the image around, the two
    of the collapsable boxes are always v-light grey, and the bottom is
    when the box is collapsed
----------------------------------------------------------------------*/

.collapsible h3:first-child span ,
  .collapsible h4.keep span ,
  .collapsible p.head span { cursor: pointer; color: #fff; padding-right: 0.5em; }
  
.collapsed div.ajax, .collapsed div.coll, .collapsed ul, .collapsed .searchhit,
.collapsed table, .collapsed pre, .collapsed h4, .collapsed p,
.collapsed dl, .collapsed ul, .collapsed ol { display: none; }

.collapsed h4.keep { display: block; }

.collapsed p.head { display: block }

.collapsible p.head .hide { display: inline }
.collapsible p.head .show { display: none }

.collapsed p.head .hide { display: none }
.collapsed p.head .show { display: inline }

#rhs .collapsible h3 { margin-top: 0; border-top-left-radius: 10px; border-top-right-radius: 10px; 
  padding-top: 8px }