@charset "UTF-8"; /*---------------------------------------------------------------------
  Links
-----------------------------------------------------------------------
  .external - add a "linkto" graphic to each external link
            - but not in the "more" section!
---------------------------------------------------------------------*/

.onclick, .twocol dd.link, .link, a       { color: #14559f; text-decoration: underline; cursor: pointer; }
.link:hover, a:hover { text-decoration: none; }
a img   { border:none; }

.extftp, .pdf, .external { position:relative; line-height:18px; background:url(/core/gfx/icons-130725.png) right -363px no-repeat; padding-right:16px; }
.extftp { background-position: right -562px; }
.pdf    { background-position: right -161px; }

/*#landing #main .external, */
.more .external { padding-right:0px; background:transparent; }

p.more {float:right; padding-right: 10px; }
p.more img { vertical-align: top; height: 18px; width:67px; background: url(/core/gfx/icons-130725.png) 0 0 no-repeat; }

.launch img { vertical-align: top; height: 18px; width:67px; background: url(/core/gfx/icons-130725.png) 0 -40px no-repeat; }

@media print {
  a { text-decoration: none; }
  .pdf, .external { padding-right: 0; background: none; }
}

