@charset "UTF-8";
/*----------------------------------------------------------------------
  Table styles
------------------------------------------------------------------------
  CSS styles for "sortable tables" in the page

  We may want to tweak this to be able to use the styles without making
  the table sortable
----------------------------------------------------------------------*/

/**
  table styles
**/

table {
  width: 90%;   border-collapse: collapse;   margin: 0.5em auto;   text-align: left; border: 1px solid #fff; }
/**
  thead/tfoot styles
**/
table.wide { width: 99% }
table thead tr th {
  font-weight: bold; background-color: #bcc5cc; color: #3d3d3d; border: 2px solid #fff; padding: 2px 0.5em;   text-align: center
}

table.sorted-table th:before { content: '\2195'; vertical-align: top; font-weight: normal; float: right; color: #fff; padding-bottom: 2px }
table.sorted-table thead tr .header { cursor: pointer; }
/*&uarr; &darr; &#8645; */

table.narrow-sorted thead tr .header {
  padding-left: 4px; }

table.sorted-table th.headerSortDown:before { content: '\2193' }
table.sorted-table th.headerSortUp:before   { content: '\2191' }

td.break-word { word-wrap: break-word; width: 3em }
/**
  tbody and tfoot styles
**/
table td { color: #3d3d3d; padding: 2px 0.5em; background-color: #FFF; vertical-align: top; border: 2px solid #fff; }
table tbody td { background-color: #FFF; }
table tbody.foot td { background-color: #bcc5cc; font-weight: bold }

/** Hack to make sure the first row is grey if there is no header row! **/
table.flip tbody tr.even td, table tbody tr.odd td { background-color:#e0e4e7; }
table.flip tbody tr.odd td { background-color:#fff; }
table.flip tbody tr.odd td { background-color:#fff; }

.r > td.c, .l > td.c, .c, .c > td { text-align: center; }
.l > td.r, .c > td.r, .r, .r > td { text-align: right; }
.c > td.l, .r > td.l, .l, .l > td { text-align: left; }
.nowrap, .nowrap > td { white-space: nowrap; }

.pager { text-align: center; margin:2px auto; font-size: 80%; }
.pager span span, .pager span strong { background-color: #bbb; padding: 2px 4px; margin: 0 2px; border: 1px solid #ccc; }
.pager span span { cursor: pointer; background-color: #ddd; }

tr.errors  td { font-weight: bold; color: #900 }
tr.warning td { font-weight: bold; color: #c60 }
tr.info    td { font-weight: bold; color: #090 }

.rotated_cell { white-space: nowrap; }
table div.rotated { padding: 0 2px; white-space: nowrap;
  -webkit-transform: rotate(270deg);
     -moz-transform: rotate(270deg);
       -o-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
}
thead th { vertical-align: bottom; text-align: center; line-height: 1em; }

table .vertical { white-space: nowrap; }

table.lightgrey tbody td { background-color: #fafafa}

input.colfilter, select.colfilter { font-size: 90% }
