@charset "UTF-8"; /*----------------------------------------------------------------------
  wrapper div
------------------------------------------------------------------------
  Defines the main "grey" area of the page, along with the top and left
  graphics.
----------------------------------------------------------------------*/
#wrap { padding: 10px; margin:5px 0; background-color: #bcc5cc; border-radius: 10px; }

#wrap:after{
  content:"."; display:block; height:0; clear:both; visibility:hidden; }

@media print {
  #wrap { width: 100%; float: none; margin: 0; padding: 0; border: 0; background-color: white; }
}
