@charset "UTF-8"; #header      { height: 71px; }
#logo        { float: left; }
#logo img    { width: 205px; height: 60px; padding: 5px 0 0 0}

#search      { width: 540px; float: right; line-height: 1; padding: 5px 0; font-size: 12px; }
#search form { padding: 0; margin: 0; float:right; font-weight: bold; }

/** Redesign the search box for narrow pages...
@media all and (max-width: 640px) {
  #search { width: 350px; }
}
*/
#search #q_db { border:0; padding: 0px; color: #000; margin: 0; background-color:transparent; width: 12em; font-weight: bold; font-size: 12px; }
#search input#q { width: 200px; border:0; padding:0; color: #000; margin: 0; font-weight: bold; font-size: 12px; background-color: transparent; }
#search #q.qdef { color: #bcc5cc; }
#search #q_submit { height:20px; width:30px; }
#search span { display: block; float:left; height: 29px; padding: 3px 0 3px 0; border: 0; margin: 0; background: #e0e4e7 url(/core/gfx/templates/ps/bars-130725.png) no-repeat 0 -370px; line-height:12px; }
#search #s1 { padding: 7px 6px 2px 8px; }
#search #s4 { padding-left: 4px; background-position: -398px -370px; padding-top: 3px; width: 200px}
#search #s4 { padding-top: 5px; }
#search #s5 { width:30px; background-position: -1409px -370px; }
#search_a { clear: right; float:right; display: none; font-size: 0.8em; width: 10em; }

@media print {
#search { display: none; }
}
body.s-s, #r-s { font-size: 80%; line-height: 1em; }
body.s-n, #r-n { font-size: 100%; line-height: 1em; }
body.s-l, #r-l { font-size: 120%; line-height: 1em; }
body.s-x, #r-x { font-size: 150%; line-height: 1em; }
body.s-p, #r-p { font-size: 180%; line-height: 1em; }

.s-s #access { font-size: 100%; }
.s-l #access { font-size:  66.66%; }
.s-x #access { font-size:  53.33%; }
.s-p #access { font-size:  44.44%; }

.s-s .fixed_size { font-size: 125%; }
.s-n .fixed_size { font-size: 100%; }
.s-l .fixed_size { font-size:  83.33%; }
.s-x .fixed_size { font-size:  66.66%; }
.s-p .fixed_size { font-size:  55.55%; }

#access { float: right; margin: 0.5em 0.5em 1px 0.5em; font-size: 80%; }
#access span { float: left; height: 14px; width: 12px; overflow:hidden; padding:0; margin: 0 1px; border:1px solid #bcc5cc; background-color: #e0e4e7; text-align:center; cursor: pointer; }

ul#skip { display: none; }
#footer { font-size: 0.8em; color: #5c5150; position: relative; float:left; margin-left: 20px; width: 95%; }
#lnx { color: #fff; text-align: center; clear: both; margin: 1em 0; font-size: 0.8em; }
#lnx a { color: #14559f; text-decoration: none; }
ul#footer_links { float:left; margin: 0 0 0 -5px; padding: 0 }
#footer_links li { text-align:left; background: none; padding: 0 0.6em; display: inline; }
#footer_links a { text-decoration: none; font-weight: bold; }
#footer .charity { clear: both }
/* footer social media styling */

ul.social { height: 20px; float: right; margin: -5px -15px 0 0; float: right; text-align: bottom; margin:0; padding: 0; }
.social li { text-decoration: none; display: inline-block; list-style-type: none; width: 20px; height: 20px; padding: 0; margin: 0 0 0 4px;
             background: url(/core/gfx/icons-130725.png) no-repeat 0 -140px }
.social li.connect { background: none; width:110px; vertical-align: top; line-height: 20px; text-align: right }
.social li.fb { background-position: 0     -140px }
.social li.tw { background-position: -20px -140px }
.social li.yt { background-position: -40px -140px }
.social li.wp { background-position: -60px -140px }
.social li img { height: 20px; width: 20px }


#footer_print, #footer p { display: none; }
#footer:after {
  content:"."; display:block; height:0; clear:both; visibility:hidden; }
.qr { width: 70px; height:70px; display: none; }
.qr img, img.qr-img { width:62px; height: 62px; margin: 4px; }
@media print {
  .more, #lnx, #footer_links { display: none; } /* Hide links stuff */
  #footer { border-top: 1px solid #bcc5cc; font-size: 8pt; line-height:11pt}
  #footer_print { display: block; float: right; width: 55%; padding-left: 1em; margin-left: 1em; }
  #footer p { text-align: right; clear: both; display: block; }
  .footerRight { display: none; }
.qr { display: block; float: right; position: absolute; top: 0px; right: 0px; }
}

#user { float: right; clear: right; margin-right: 1em; }
#logout, #login { vertical-align: middle; padding: 0; margin: 0; height: 18px; width:56px; background: url(/core/gfx/icons-130725.png) 0 -80px no-repeat; }
#logout { background-position: 0 -60px; }
