@charset "UTF-8"; /*
  message-boxes
  layout defining rounded boxes
 
  message boxes
*/

.developer.panel    { background-color: #ffe8cc; border: 0; }
.developer .bt       { background-position: 100% -420px}
.developer .bt div   { background-position: 0 -420px}
.developer .bb       { background-position: 100% -428px}
.developer .bb div   { background-position: 0 -428px}
.developer .i3 { background-color:#ffe8cc; }
.developer h3 { color: #8e0018; border-bottom: 1px solid #8e0018; }

.box-info.panel      { background-color: #cfc; border: 0; } /* green */
.box-info .bt       { background-position: 100% -440px}
.box-info .bt div   { background-position: 0 -440px}
.box-info .bb       { background-position: 100% -448px}
.box-info .bb div   { background-position: 0 -448px}
.box-info .i3 { background-color:#cfc; }
.box-info h3 { color: #060; border-bottom: 1px solid #060; }

.box-msg.panel      { background-color: #ffc; border: 0; } /* yellow */
.box-msg .bt       { background-position: 100% -460px}
.box-msg .bt div   { background-position: 0 -460px}
.box-msg .bb       { background-position: 100% -468px}
.box-msg .bb div   { background-position: 0 -468px}
.box-msg .i3 { background-color:#ffc; }
.box-msg h3 { color: #960; border-bottom: 1px solid #960; }

.box-error.panel      { background-color: #fcc; border: 0; } /* red */
.box-error .bt       { background-position: 100% -480px}
.box-error .bt div   { background-position: 0 -480px}
.box-error .bb       { background-position: 100% -488px}
.box-error .bb div   { background-position: 0 -488px}
.box-error .i3 { background-color:#fcc; }
.box-error h3 { color: #8e0018; border-bottom: 1px solid #8e0018; }

.box-warn.panel      { background-color: #ffe8cc; border: 0; } /* orange */
.box-warn .bt       { background-position: 100% -500px}
.box-warn .bt div   { background-position: 0 -500px}
.box-warn .bb       { background-position: 100% -508px}
.box-warn .bb div   { background-position: 0 -508px}
.box-warn .i3 { background-color:#ffe8cc; }
.box-warn h3 { color: #8e0018; border-bottom: 1px solid #8e0018; }

.cb .box-info .i2, .cb .box-msg .i2, .cb .box-error .i2, .cb .box-warn .i2 { background-color: #dfdfdf; }

.cb .box-info .i1, .cb .box-msg .i1, .cb .box-error .i1, .cb .box-warn .i1 { background-color: #f5f5f5; }

.panel .box-info.panel      { background-color: #cfc; border: 0; } /* green */
.cb .box-info .bt       { background-position: 100% -520px}
.cb .box-info .bt div   { background-position: 0 -520px}
.cb .box-info .bb       { background-position: 100% -528px}
.cb .box-info .bb div   { background-position: 0 -528px}
.cb .box-info .i3 { background-color:#cfc; }
.cb .box-info h3 { color: #060; border-bottom: 1px solid #060; }

.panel .box-msg.panel      { background-color: #ffc; border: 0; } /* yellow */
.cb .box-msg .bt       { background-position: 100% -540px}
.cb .box-msg .bt div   { background-position: 0 -540px}
.cb .box-msg .bb       { background-position: 100% -548px}
.cb .box-msg .bb div   { background-position: 0 -548px}
.cb .box-msg .i3 { background-color:#ffc; }
.cb .box-msg h3 { color: #960; border-bottom: 1px solid #960; }

.panel .box-error.panel      { background-color: #fcc; border: 0; } /* red */
.cb .box-error .bt       { background-position: 100% -560px}
.cb .box-error .bt div   { background-position: 0 -560px}
.cb .box-error .bb       { background-position: 100% -568px}
.cb .box-error .bb div   { background-position: 0 -568px}
.cb .box-error .i3 { background-color:#fcc; }
.cb .box-error h3 { color: #8e0018; border-bottom: 1px solid #8e0018; }

.panel .box-warn.panel      { background-color: #ffe8cc; border: 0; } /* orange */
.cb .box-warn .bt       { background-position: 100% -580px}
.cb .box-warn .bt div   { background-position: 0 -580px}
.cb .box-warn .bb       { background-position: 100% -588px}
.cb .box-warn .bb div   { background-position: 0 -588px}
.cb .box-warn .i3 { background-color:#ffe8cc; }
.cb .box-warn h3 { color: #8e0018; border-bottom: 1px solid #8e0018; }

