@charset "UTF-8";
/* This playing around twith maximum width CSS files - to
  improve performance on small devices */

/******************

Greater than 840px.....
+---------------------------------------+
| LOGO                       search box |
+---------------------------------------+
|_Tabs__________________________________|
| +-main----------------+ +-rhs-------+ |
| | +-col1--+ +-col2--+ | | +-col1--+ | |
| | |       | |       | | | |       | | |
| | |       | |       | | | |       | | |
| | |       | |       | | | +-------+ | |
| | |       | |       | | | +-col2--+ | |
| | |       | |       | | | |       | | |
| | |       | +-------+ | | |       | | |
| | |       |           | | +-------+ | |
| | +-------+           | +-----------+ |
| +---------------------+               |
+---------------------------------------+

Greater than 630px.....

+-------------------------+
| LOGO         search box |
+-------------------------+
|_Tabs____________________|
| +-main----------------+ |
| | +-col1--+ +-col2--+ | |
| | |       | |       | | |
| | |       | |       | | |
| | |       | |       | | |
| | |       | |       | | |
| | |       | |       | | |
| | |       | +-------+ | |
| | |       |           | |
| | +-------+           | |
| +---------------------+ |
| +-main----------------+ |
| | +-col1--+ +-col2--+ | |
| | |       | |       | | |
| | |       | |       | | |
| | |       | +-------+ | |
| | +-------+           | |
| +---------------------+ |
+-------------------------+

Greater than 480px

+-------------------------+
| LOGO         search box |
+-------------------------+
|_Tabs____________________|
| +-main----------------+ |
| | +-col1------------+ | |
| | |                 | | |
| | |                 | | |
| | |                 | | |
| | |                 | | |
| | +-----------------+ | |
| | +-col2------------+ | |
| | |                 | | |
| | |                 | | |
| | +-----------------+ | |
| +---------------------+ |
| +-rhs-----------------+ |
| | +-col1--+ +-col2--+ | |
| | |       | |       | | |
| | |       | |       | | |
| | |       | +-------+ | |
| | +-------+           | |
| +---------------------+ |
+-------------------------+

Smaller than 480px

+---------------------+
| LOGO        s'ch bx |
+---------------------+
|_Tabs________________|
| +-main------------+ |
| | +-col1--------+ | |
| | |             | | |
| | |             | | |
| | |             | | |
| | |             | | |
| | +-------------+ | |
| | +-col2--------+ | |
| | |             | | |
| | |             | | |
| | +-------------+ | |
| +-----------------+ |
| +-rhs-------------+ |
| | +-col1--------+ | |
| | |             | | |
| | |             | | |
| | +-------------+ | |
| | +-col2--------+ | |
| | |             | | |
| | +-------------+ | |
| +-----------------+ |
+---------------------+
*/


@media all and (max-width: 800px) {
  body { min-width: 320px }
  #faculty #main, #main, #faculty #rhs, #rhs { float: none; width: 100%; }
  #rhs .col1 { width:49%; float: left; }
  #rhs .col2 { width:49%; float: right; }
}

@media all and (max-width: 1200px) {
  form .col1, form .col2 { float: none; width: 100% }
}

@media all and (max-width: 780px) {
  .col1 .col1,   .col2 .col1,   .col1 .col2,   .col2 .col2 { float: none; width: 100%; }
}

@media all and (max-width: 640px) {
  #navTabs, #Tabs2, #wrap { font-size: 80%; line-height: 1.3em; }
  .col1, .col2 { float: none; width: 100%; }
  #access { display: none; }
}

@media all and (max-width: 480px) {
  #rhs .col1, #rhs .col2 { float: none; width: 100%; }
}
