/* Merged into merged-header.css */
body.s-s, #r-s { font-size: 80%; line-height: 1em; }
body.s-n, #r-n { font-size: 100%; line-height: 1em; }
body.s-l, #r-l { font-size: 120%; line-height: 1em; }
body.s-x, #r-x { font-size: 150%; line-height: 1em; }
body.s-p, #r-p { font-size: 180%; line-height: 1em; }

.s-s #access { font-size: 100%; }
.s-l #access { font-size:  66.66%; }
.s-x #access { font-size:  53.33%; }
.s-p #access { font-size:  44.44%; }
#access { float: right; margin: 0.5em 0.5em 1px 0.5em; font-size: 80%; }
#access span { float: left; height: 14px; width: 12px; overflow:hidden; padding:0; margin: 0 1px; border:1px solid #bcc5cc; background-color: #e0e4e7; text-align:center; cursor: pointer; }

ul#skip { display: none; }
