/*----------------------------------------------------------------------
  Web errors and messages
------------------------------------------------------------------------
  1) Format for failing components
 
  2) Format for the display of messages from components to the browser
----------------------------------------------------------------------*/
.web-error { font-weight: bold; background-color:#fee; color: #900; }

table.messages { font-size: 0.8em; border-collapse: collapse; width: 95%; margin: 0.5em auto; }

.messages th { font-weight: bold; padding-top: 2px; }
.message_first { width: 5%; }
.message_number { width: 5%; text-align:right; }
.messages tbody { margin:0; border:0; padding: 0; }
.messages td, .messages th { margin:0; border:0; padding: 1px 2px; line-height: 1.1em}
.messages p { margin: 0; }
.message_pre  { white-space: pre; font-family: 'Andale mono', fixed; }
/* Change the background-color of messages */
.message_fatal { background-color: #fcc; }
.message_error { background-color: #fdb; }
.message_warn { background-color: #ffc; }
.message_info { background-color: #cfc; }

.svn_removed { background-color: #fcc; }
.svn_added { background-color: #cfc; }
.svn span, .svn_removed span, .svn_added span { border-right: 1px solid black; padding-right: 0.5em; margin-right: 0.5em; }
.svn_info .tabc    { font-size: 80%; }
