/* moved into merged-boxes.css */

/*
  project box style
 
  callouts, projects etc
*/

/*----------------------------------------------------------------------
  Callout
------------------------------------------------------------------------
  Mid blue box (#0e518d) with white bold text...

  By default floats to left with width 1/3 the size of the container
 
  Additional "classes" .right (float right) & .fifty (1/2 of container)
----------------------------------------------------------------------*/

/*----------------------------------------------------------------------
  Project
------------------------------------------------------------------------
  Light grey border (#bcc5cc)
----------------------------------------------------------------------*/

.project { width: 33%; float: left; margin: 10px; }
.project .bt       { background-position: 100% 0}
.project .bt div   { background-position: 0 0}
.project .bb       { height:8px; background-position: 100% -8px}
.project .bb div   { height:8px; background-position: 0 -8px}
.project .i1 , #page .project .i1 { padding:0 1px 0 0; background-color: #bcc5cc; }
.project .i2 , #page .project .i2 { padding:0 0 0 1px; background-color: #bcc5cc; }
.project .i3 , #page .project .i3 { padding:0 10px; background:#ffffff; }

