/* Merged into merged-layouts.css */

/* Layout of entries! */

#teamleader h3, #project #main h3
{ position: relative; color: #8e0018; border-bottom: 1px solid #ccc; background: url(/core/gfx/bars-110202.png) 0 bottom; }

#teamleader p { clear:left; }
#teamleader img, .thumb
  { width: 55px; height: 55px; float: left; margin: 0px 10px 5px 0px; }
#teamleader img { height: auto; }

@media print {
  #teamleader h3 { background: none; border-bottom: 0; }
}
