/* Merged into merged-header.css */
#footer { font-size: 0.8em; color: #5c5150; position: relative; }
#lnx { color: #fff; text-align: center; clear: both; margin: 1em 0; font-size: 0.8em; }
#lnx a { color: #14559f; text-decoration: none; }

#footer_links { background: none; padding: 0 1em; }
#footer_links a { text-decoration: none; font-weight: bold; }
#footer_print, #footer p { display: none; }
#footer:after {
  content:"."; display:block; height:0; clear:both; visibility:hidden; }
.qr { display:none; }
@media print {
  .more, #lnx, #footer_links { display: none; } /* Hide links stuff */
  #footer { border-top: 1px solid #bcc5cc; font-size: 8pt; line-height:11pt}
  #footer_print { display: block; float: right; width: 55%; padding-left: 1em; margin-left: 1em; }
  #footer p { text-align: right; clear: both; display: block; }
  .footerRight { display: none; }
  .qr { display: block; float:right; width: 100px; height:100px; background-color:#eee; }
}
