/* Merged into merged-layouts.css */

.areas-landing { margin: 10px; }
.areas-landing dt { clear: both; float: none; width: auto; margin: 0; }
.areas-landing dd { margin-bottom: 1.5em; }
.areas-landing dt img { float: left; margin: 5px 10px 10px 5px; height: 55px; width: 55px; }
