/* moved into merged-layouts.css */
#featureR a img { float: right; margin: 5px 0 0 0; height: 18px; width:67px; background: url(/core/gfx/bars-110202.png) -80px -312px no-repeat; }
#featureR a img { margin-top: 10px; float: none; }

