/* Merged into merged-layouts.css */

/*----------------------------------------------------------------------
  Feature panel
------------------------------------------------------------------------
  Contains two parts the main text on the left hand size and an image
  on the right hand side of the page
----------------------------------------------------------------------*/
#featureR {width:29%; float:right; text-align:right; font-size: 9px; color: #5c5150; }
#featureR p { margin-right: 10px; }

#featureL {width:70%; float:left; }

#featureL p {
  padding: 0 10px 10px 10px; margin:0; }
#featureR div.seq { height: 220px; }
#featureR div {
  max-width: 450px;   height: 170px; background-position: top center; border: 4px solid #bcc5cc; margin: 0 10px 0 auto; }
