/* moved into merged-boxes.css */
/*
  rounded-boxes
  layout defining rounded boxes
 
  .panel, .cb, .i1, .i2, .i3, .bt, .bb
*/


/* Default CSS
================================================*/
/* Basic styling, used when JavaScript is unsupported */

/*----------------------------------------------------------------------
  Sources
------------------------------------------------------------------------
  Rounded corners: This is all done via javaScript so no markup appears
  in this css, refer to 'boxes.css' for those specific styles, see:
 
  http://www.456bereastreet.com/archive/200609/transparent_custom_corners_and_borders_version_2/
 
----------------------------------------------------------------------*/

.panel { margin:0; padding:3px; background:#fff; border: 1px solid #ccc; clear: both; }

/* Normal styling */
.cb {margin: 0; padding:5px; clear: both}

/* Top corners and border */
.bt, .bb, .bt div, .bb div { background-image: url(/core/gfx/bars-110202.png); background-repeat: no-repeat; height:8px; margin:0; }
.bt div, .bb div { position:relative; left:0; width:8px; font-size:0; line-height:0; }
.bt     { background-position: 100% -32px; }
.bt div { background-position: 0 -32px; }
.bb     { background-position: 100% -40px; height: 11px; }
.bb div { background-position: 0 -40px; height: 11px; }
.i1 { margin:0; display:block; padding:0 1px 0 0; background-color: #b2bbc2; }
.i2 { margin:0; display:block; padding:0 1px 0 0; background-color: #a0a8ae; }
.i3 { background-color: #ffffff; margin:0; display:block; padding:0; }

  /* Push the first paragraph/heading up as far as possible
     to remove the "double gap" caused by the top edge graphic! */
.i3 > :first-child { padding-top: 0px; margin-top: 0px; }

.panel:after, .i1:after, .i2:after, .i3:after {
  content:"."; display:block; height:0; clear:both; visibility:hidden; }


/** PRINTER STYLES **/
@media print {
  .cb, .panel, .i1, .i2, .i3 { border: 0; padding:0; margin: 0; }
  .panel, .cb { margin: 1em 0; }
  .bt, .bb { display: none; }
  .i1, .i2 { background-color: white; }
}
