/* Merged into merged-tabs.css */

/*----------------------------------------------------------------------
  Secondary navigation "tabs."
------------------------------------------------------------------------
  CSS styles for the secondary navigation (blue gradient) on the page
 
  Note these are not real tabs just links!
----------------------------------------------------------------------*/
#NavTabs2 {overflow: hidden; border-top: 1px solid #0e518d}
ul#Tabs2 { margin: 0; padding: 4px 5px 0 5px; list-style: none;   width: 100%; float: left; background: #0e518d url(/core/gfx/bars-110202.png) 0 -171px no-repeat; }
ul#Tabs2 li { float: left; background: none; padding:0; }
#Tabs2 li a { display:  block; padding: .25em 1em 0 1em; line-height: 2em;     text-decoration: none; color: white; float: left;     font-weight: bold
}
#Tabs2 li a:hover { color: #fff; text-decoration: underline; }
#Tabs2 .active a, #Tabs2 .active a:hover { color: #14559f; background-color: #fff; }

@media print {
  #NavTabs2 { display: none; }
}
