@charset "UTF-8"; /*---------------------------------------------------------------------
  Links
-----------------------------------------------------------------------
  .external - add a "linkto" graphic to each external link
            - but not in the "more" section!
---------------------------------------------------------------------*/

.onclick, .twocol dd.link, .link, a       { color: #14559f; text-decoration: underline; cursor: pointer; }
.link:focus, a:focus, .link:hover, a:hover { text-decoration: none; }
a img   { border:none; }

.external, .pdf, .extpdf { white-space: nowrap }
#outer .extftp img, #outer .pdf img, #outer .external img,
.extftp   img, .pdf img, .external img { vertical-align: top; height: 12px; width: 15px; background:url(/core/gfx/icons-140302.png) -48px -34px no-repeat; padding: 0; float: none; margin: 0 }
#outer .external img, .external img { background-position: -48px -50px ; }
#outer .pdf img, .pdf img { background-position: -48px -18px ; }

/*#landing #main .external, */
.more .external { padding-right:0px; background:transparent; }


p.more { float:right; padding-right: 10px; }

.launch .btt:after, .more .btt:after { content: '\25b6'; padding-left: 0.5em }
.zoom .btt, .launch .btt, .more .btt { padding-right: 4px; margin-right: 5px;}
.zoom .btt:after { content: '\271a'; padding-left: 0.5em }

@media print {
  a { text-decoration: none; }
  .pdf img, .external img { display: none }
}

.btt { font-size: 10px; border-radius: 8px; letter-spacing: 0.5px; background-color: #e0e4e7; background: linear-gradient(to right, #ddd,#eee,#fff,#fff); border: 1px solid #ddd; padding: 1px 1em; box-shadow: 2px 2px 1px 0 #999;  font-weight: bold; white-space: nowrap }
a.btt { color: black; text-decoration: none }

.wide-lines { line-height: 1.7em }
