@charset "UTF-8"; /*---------------------------------------------------------------------
  Lists
-----------------------------------------------------------------------
  Entries in the right hand column have no "bullet!"
---------------------------------------------------------------------*/

ol, ul { padding: 0.5em 10px 0 0; }
li, #rhs .bullet li { padding: 0 0 0.25em 30px; }

ul ul, ul ol, ol ul, ol ol { padding-right: 0; }

ul ol li { background: none; }
ol li { list-style: decimal; padding-left: 0; margin-left: 3em; }
ol li ul li { list-style:none; padding-left: 30px; margin-left: 0; }
ol.lower-alpha > li {list-style-type:lower-alpha}

ul.col_2, ul.col_3, ul.col_4, ul.col_5, ul.boxes, #rhs ul { padding: 0 10px 0 0; }
#rhs ul ul { padding: 0; }
#rhs ul { margin-left: 0; text-indent: 0 }
#rhs ul li:before { content: ''; }
ul.col_2 li, ul.col_3 li, ul.col_4 li, ul.col_5 li, ul.boxes li, #rhs ul li { padding: 0.25em 0 0.25em 10px; background: none; text-decoration: none; }

li p { margin: 2px 10px; padding: 0 0 0.5em 0; }
  dl { margin:0 10pt 0.5em 20px; }
  dt { font-weight: bold; margin: 0.25em 0 0 0; }
  dd { margin: 0.25em 0 0.5em 2em; }

/** Styles for 2, 3, 4, 5 column lists... */
.col_2 li { float: left; width: 48%; }
.col_3 li { float: left; width: 31%; }
.col_4 li { float: left; width: 22%; }
.col_5 li { float: left; width: 18%; }

.faq { margin:10px 10pt 20px 20px; }
.faq dt { font-weight: bold; margin: 0; color: #383838; margin-top: 10px; }
.faq dd { font-weight: normal; margin:0 0 10px 20px; color: #3d3d3d; }
.faq ol li { margin: 0 0 0 40px; padding:0;}


ul { list-style: none; padding-left: 1.2em; text-indent: -1.2em; }
ul li:before, #rhs ul.bullet li:before { content: ">"; display: block; float: left; width: 1.2em; color: #bcc5cc; }
