@charset "UTF-8"; /*----------------------------------------------------------------------
  wrapper div
------------------------------------------------------------------------
  Defines the main "grey" area of the page, along with the top and left
  graphics.
----------------------------------------------------------------------*/
#wrap { padding: 0 8px 0 10px; margin:0; background-color: #bcc5cc; }
/* wrapper ids to add rounded corner to main part of page */
#wrapB, #wrapT{ width: 100%; height: 10px; background-color: #bcc5cc; overflow: hidden; }
#wrapT { margin-top:5px; }
#wrapB { margin-bottom:10px; }

#wrapTL, #wrapTR, #wrapBL, #wrapBR {
  float:left; width:10px; height:10px;   background: url(/core/gfx/bars-120723.png) -1px -619px no-repeat; }
#wrapTR { float: right; background-position: -12px -619px; }
#wrapBL { background-position: -24px -620px; }
#wrapBR { float: right; background-position: -35px -620px; }

#wrap:after{
  content:"."; display:block; height:0; clear:both; visibility:hidden; }

@media print {
  #wrap { width: 100%; float: none; margin: 0; padding: 0; border: 0; background-color: white; }
  #wrapB, #wrapT { display: none; }
}
