@charset "UTF-8"; /*---------------------------------------------------------------------
  Lists
-----------------------------------------------------------------------
  Entries in the right hand column have no "bullet!"
---------------------------------------------------------------------*/

ol, ul { padding: 0.5em 10px 0 0; }
li, #rhs .bullet li { padding: 0 0 0.25em 30px; }

ul ul, ul ol, ol ul, ol ol { padding-right: 0; }

ul li, #rhs ul.bullet li { list-style-type:none; background: url(/core/gfx/icons-120723.png) 10px -1260px no-repeat; }

ul ol li { background: none; }
ol li { list-style: decimal; padding-left: 0; margin-left: 3em; }
ol li ul li { list-style:none; padding-left: 30px; margin-left: 0; }

ul.col_2, ul.col_3, ul.col_4, ul.col_5, ul.boxes, #rhs ul { padding: 0 10px 0 0; }
#rhs ul ul { padding: 0; }
ul.col_2 li, ul.col_3 li, ul.col_4 li, ul.col_5 li, ul.boxes li, #rhs ul li { padding: 0.25em 0 0.25em 10px; background: none; text-decoration: none; }

li p { margin: 2px 10px; padding: 0 0 0.5em 0; }
  dl { margin:0 10pt 0.5em 20px; }
  dt { font-weight: bold; margin: 0.25em 0 0 0; }
  dd { margin: 0.25em 0 0.5em 2em; }

/** Styles for 2, 3, 4, 5 column lists... */
.col_2 li { float: left; width: 48%; }
.col_3 li { float: left; width: 31%; }
.col_4 li { float: left; width: 22%; }
.col_5 li { float: left; width: 18%; }
